*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  margin: 0;
  color: #31313c;
  font-family: 'Open Sans', sans-serif;
}

header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header img {
  width: 100%;
  max-width: 384px;
}

header address {
  font-size: 0.875rem;
  font-style: normal;
}

header address a {
  color: inherit;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.875rem;
}

footer p {
  margin: 0;
}
